<div class="container" style="background-color: rgb(158, 224, 224); border: 4px solid black; border-radius: 5px;">

    <br>
    <br>
    <h4 style="text-align: center; color: #4e14a4; font-weight: bold;">Ready to begin your Digital Transformation?</h4>
    <br>
  
    <div class="container" style="width: 80%; background-color: white; border: 3px solid black; border-radius: 10px;">
  
       <br>
       <h5 style="text-align: center; color: #4e14a4;">Have a question? Let us help!</h5>
       <p style="text-align: center; font-size: 15px;">
          Complete the form below. Typical response time is 24 - 48 hours.
       </p>
  
       <form class="row g-3 container" [ngStyle]="{ fontSize: browserScreenWidth <= 768 ? '13px' : '17px' }">
  
          <div class="col-md-6">
             <label for="inputEmail4" class="form-label">First Name:</label>
             <input type="email" class="form-control" id="inputEmail4">
          </div>
  
          <div class="col-md-6">
             <label for="inputPassword4" class="form-label">Last Name:</label>
             <input type="password" class="form-control" id="inputPassword4">
          </div>
  
          <div class="col-md-6">
             <label for="inputCity" class="form-label">Company:</label>
             <input type="text" class="form-control" id="inputCity">
          </div>
  
          <div class="col-md-6">
             <label for="inputCity" class="form-label">Email:</label>
             <input type="text" class="form-control" id="inputCity">
          </div>
  
          <div class="col-md-8 mx-auto">
             <label for="msg" class="form-label">Message:</label>
             <textarea class="form-control" cols="30" rows="10" id="msg"></textarea>
          </div>
  
          <div class="col-12" style="text-align: center;">
             <button type="button" style="font-weight: bold; text-align: center; justify-items: center; border: 2px solid black; border-radius: 6px; background-color: rgb(158, 224, 224); color: #4e14a4; padding: 6px;" class="btn btn-primary">Send Message</button>
          </div>
  
       </form>
       <br>
 
    </div>
    <!--  -->
    <br>
    <!--  -->
    <div class="container" style="background-color: white; text-align: center; border: 3px solid black; border-radius: 10px;">
  
       <br>
       <h3 style="text-align: center; color: #4e14a4;">Excited to Get Started on Your Project?</h3>
       <p>
          Book a Meeting! Click the button below:
       </p>
       <button style="font-weight: bold; text-align: center; justify-items: center; border: 2px solid black; border-radius: 6px; background-color: rgb(158, 224, 224); padding: 6px;">
          <a href="https://outlook.office365.com/owa/calendar/PFEMARINEBookings@pfemarine.com/bookings/" style="text-decoration: none; color: #4e14a4;">
             Book Now!
          </a>
       </button>
       <br>
       <br>
  
    </div>
    <br>
  
 </div>