<div style="background-color: rgb(237, 243, 249); padding: 60px; border-radius: 5px; border: 4px solid black">
    <!-- ngClass]="{ 'h5': browserScreenWidth <= 768 }" -->
    <h2 [ngStyle]="{ fontSize: browserScreenWidth <= 576 ? '15px' : '28px' }" style="color: #4e14a4; text-align: center;">Welcome to PFEMARINE LLC</h2>

    <br>
    <article>
    <p>
        We are a team of experienced IT professionals who specialize in digitally transforming businesses 
        through innovative and tailored IT solutions. We are focused on Azure Cloud, hybrid solutions, and 
        on-premise technologies to provide our clients with the best possible outcomes.
    </p>

    <p>
        At our company, inclusivity and diversity are core values that are reflected in everything we do. 
        We believe that everyone deserves equal opportunities and respect, regardless of their background, 
        beliefs, or identity. Our commitment to inclusivity and diversity drives us to create a supportive 
        and collaborative work environment where our team can excel.
    </p>

    <p>
        Our goal is to provide exceptional IT consulting and services to startups, small businesses, and 
        mid-level enterprises, empowering them to achieve their digital transformation goals. We work closely 
        with our clients to understand their specific needs and develop custom solutions that align with their 
        digital transformation journey.
    </p>

    <p>
        Thank you for considering us as your IT partner. We invite you to explore our website to learn more 
        about our commitment to integrity, equity, and respect, and how we can help your business achieve its 
        digital transformation goals.
    </p>
    </article>

    <div style="text-align: center; border: 3px double black;">
        <img src="./assets/images/PFEMARINE-First.png" class="img-fluid clearfix">
    </div>
</div>